$background-color: #fffbed;
$accent-color: #777;
$primary-text: #333;
$secondary-text: #777;

html {background-color: $background-color};

.Container {
  max-width: 60rem;
  margin: 3rem auto 0;
  font-family: sans-serif;

  h1 {
    color: $primary-text;
    text-align: center;
    margin-bottom: 4vh;
  }

  h2 {
    color: $secondary-text;
    text-align: center
  }

  p {
    color: $secondary-text;
    line-height: 25px;
  }
}

.Header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: $background-color;
  background-color: $accent-color;
  display: flex;
  justify-content: center;
}

.ButtonCenter {
  position: center;
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 60rem;
}

.Button {
  padding: 1em;
  background-color: $accent-color;
  color: $background-color;
  text-align: center;
  font-size: large;
  display: inline-block;
  flex-grow: 1;
}

.Title {
  padding-top: 1em;
  height: 100vh;
}

.Links {
  text-align: center;
  height: 100vh;
}
.Projects {
  height: 100vh;
  display: inline-block;
}

.ProjectImage {
  text-align: center;
  margin-right: 20px;
}

.ProjectExample {
  position: relative;
  display: flex;
}



